@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}








html[lang="en"] [data-hide-lang="en"] {
  display: none !important;
}
